@import '../../node_modules/bulma/bulma.sass';

.hero .navbar {
  background: white;
}

$width01: 720px;
$width02: 360px;

.you-tube-video {
  width: 720px;
  height: $width01 / 1.77;
}

.card {
  height: 100%;
}

.form {
  margin: 3rem auto;
}

iframe {
  display: flex;
  margin: 3rem auto;
}

@media (max-width: 759px) {
  .you-tube-video {
    width: $width02;
    height: $width02 / 1.77;
    border: 1px solid red;
  }
}
