@charset "utf-8";

$width01: 720px;
$width02: 450px;
$height: $width01 * 0.6;
$gris-clair: #dbdbdb;
$gris-fonce: #4a4a4a;
$link: $gris-fonce;

.card {
  height: 100%;
}

.form {
  margin: 3rem auto;
}

iframe#video.youtube-video {
  width: $width01;
  margin: auto;
  height: $width01 * 0.6;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.5), 0 0 0 1px rgba(10, 10, 10, 0.5);
}

#video-presentation iframe {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 759px) {
  iframe#video.youtube-video {
    width: $width02;
    margin: auto;
    height: $width02 * 0.6;
  }
}

@import '../../node_modules/bulma/bulma.sass';

.hero .navbar {
  background: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
